<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
  </head>
  <body>
    <p>login</p>
    <div>
      <form>
        <fieldset>
          <legend>LOGIN</legend>
          id <input type="text" name="id" /> pwd<input
            type="text"
            name="password"
          />
          <div>
            <br />
            <button type="submit" name="">NEXT</button>
            <button type="button" onclick="location.href='join'">JOIN</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
